<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cargo.nombre %>
</p>

<%= link_to 'Editar', edit_cargo_path(@cargo), :class => 'btn btn-mini' %> |
<%= link_to 'Atras', cargos_path, :class => 'btn btn-mini' %>
