
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Apellido</Data></Cell>
        <Cell><Data ss:Type="String">Documento</Data></Cell>
      </Row>
    <% @aprendizs.each do |aprendiz| %>
      <Row>
        <Cell><Data ss:Type="String"><%= aprendiz.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= aprendiz.apellido %></Data></Cell>
        <Cell><Data ss:Type="String"><%= apendiz.documento %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

