<h1>Nuevo aprendiz</h1>

<p>Si usted no pertenece a este complejo,<br> por favor dirijase al link 'Otros' 
<br> y seleccione en cargo 'Aprendiz'
<%= render 'form' %>

<%= link_to 'Atras', aprendizs_path, :class => 'btn btn-mini' %>
