<h1>Editar ficha</h1>

<%= render 'form' %>

<%= link_to 'Ver', @fichas, :class => 'btn btn-mini btn-info' %> |
<%= link_to 'Volver a Fichas', fichas_path, :class => 'btn btn-mini btn-info' %> | 
<%= link_to 'Volver a Centros', centros_path, :class => 'btn btn-mini btn-info' %>
