<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @centro.nombre %>
</p>


<%= link_to 'Editar', edit_centro_path(@centro), :class => 'btn btn-mini' %> |
<%= link_to 'Atras', centros_path, :class => 'btn btn-mini' %>
