<%# navigation styled for Bootstrap 3.0 %>
<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Logotipo</a>
            <form role="search" class="navbar-form navbar-right">
              <div class="form-group">
                   <input type="text" placeholder="Search" class="form-control">
              </div>
              <button type="submit" class="btn btn-default">Buscar</button>
            </form>
            <%= render 'layouts/navigation_links' %>
        </div>
        </div>
</nav>